---
import "../css/style.css";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
  </head>
  <body class="color">
    <header>
      <Header type="normal" />
    </header>
    <main>
      <img class="hero" src="/Hero.webp" alt="KUNE Festival" />
      <Link title="GET YOUR TICKETS HERE">
        <img id="tickets" class="link" src="/tickets.webp" alt="Tickets" />
      </Link>
      <div class="row_grid">
        <div class="info_grid">
          <div>
            <h2>Music</h2>
            <p>
              This year we're returning at the end of July with over 100
              hoursfull of music, visual art and experiences meant to help us
              explore within, as well as beyond our own boundaries. Spread over
              five days, the five different stages, two art galleries and
              multiple art installation spots will play host to over 100
              different artists from across Scandinavia - joined by a selected
              handful of international acts.
            </p>
          </div>
          <img src="/music.webp" alt="Music" />
        </div>

        <div class="art_grid">
          <div>
            <h2>Art Installations</h2>
            <p>
              As a one-of-its-kind celebration of the Scandinavian underground
              culture, this event seeks to co-create together with you all an
              intimate space rooted in a deep appreciation for Diversity in all
              its forms. A familiar, yet novel place where contradictions,
              paradoxes and opposites come to meet and melt together in a
              vibrant flow of consciousness. A flow meant to nurture the seed of
              change in all of us, gifting life to a more inclusive, more
              profound version of reality.
            </p>
          </div>
          <img src="/art.webp" alt="Art" />
        </div>
        <div class="info_grid">
          <div>
            <h2>WORKSHOPS</h2>
            <p>
              KUNE Festival provides an immersive experience that blends art,
              music, and the island's natural beauty. The location's
              secludedness adds to the sense of separation from everyday life.
              At the same time, the art invites us to engage in open discussions
              and imagine a world that can be different, making a positive
              impact over our mentality and worldview. In conjunction with the
              art, the music creates a holistic cultural experience
              representative of the modern, young Nordic artistic community..
            </p>
          </div>
          <img src="/workshop.webp" alt="Workshops" />
        </div>
      </div>

      <Link title="VOLUNTEER RECRUITMENT">
        <img
          id="volunteer"
          class="link"
          src="/volunteer.webp"
          alt="Volunteer"
        />
      </Link>
    </main>
    <footer></footer>

    <script
      src="https://kit.fontawesome.com/cefafbdb36.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
