---
import "../css/style.css";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";

const data = await fetch(
  "https://myhdvqgrfdowvpvutnhv.supabase.co/rest/v1/KUNE",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aGR2cWdyZmRvd3ZwdnV0bmh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NTM2ODYsImV4cCI6MTk5NDUyOTY4Nn0.Bjsfp8rT0x2cyu6zGQ39eu57En4ZAvmOOSlQmINiTKs",
    },
  }
).then((res) => res.json());
console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>Lineup</title>
  </head>
  <body class="lineup">
    <header>
      <Header type="lineup" />
    </header>
    <main>
      <h1>LINEUP</h1>
      <p class="description">
        KUNE Festival is an immersive experience that blends art, music, and the
        island's natural beauty. The location's secludedness adds to the sense
        of separation from everyday life.
      </p>
      <hr />
      <div class="categories">
        <h2>&bull;</h2>
        <h2 class="music">MUSIC</h2><h2>&bull;</h2>
        <h2 id="art">ART</h2><h2>&bull;</h2>
        <h2 id="workshop">WORKSHOPS</h2>
        <h2>&bull;</h2>
      </div>
      <div class="grid_1-1-1">
        <h2>Wednesday</h2>
        <h2>Thursday</h2>
        <h2>Friday</h2>
        {
          data.map((artist) => {
            return <Card title={artist.title} image={artist.image} />;
          })
        }
      </div>
    </main>
    <footer></footer>

    <script
      src="https://kit.fontawesome.com/cefafbdb36.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
