---
import NavItem from "./NavItem.astro";
---

<button id="burger-menu">
  Menu
  <span></span>
</button>

<nav id="menu">
  <div>
    <a href="/"><img src="/Logo.png" alt="Logo KUNE" /></a>
    <ul>
      <li><a href="lineup"><NavItem title="Music" /></a></li>
      <li><NavItem title="Art" /></li>
      <li><a href="about"><NavItem title="About" /></a></li>
      <li><NavItem title="Tickets" /></li>
      <li><NavItem title="Info" /></li>
      <li><NavItem title="Gallery" /></li>
    </ul>
  </div>
  <div class="top">
    <div class="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i><p>Search</p>
    </div>
    <i class="fa-solid fa-bell"></i>
  </div>
</nav>

<script src="../scripts/burger.js"></script>

<style>
  img {
    width: 80px;
    padding: 0 10px 0px 25px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
  }
  div {
    display: flex;
    align-items: center;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: var(--font_color);
  }
  .searchbar {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 70px 10px 20px;
  }
  p {
    color: var(--font_color);
    font-family: var(--main_font);
    font-weight: 400;
    font-size: var(--fs_xs);
    padding-left: 20px;
    padding-right: 100px;
  }
  .fa-bell {
    padding: 0px 20px 0px 20px;
  }
  .fa-solid {
    color: var(--font_color);
  }
  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 900px) {
    #burger-menu {
      display: block;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #333;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #fff;
    }
    #menu {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 0px;
      background: var(--bg_color);
    }
    #menu ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: #fff;
      display: block;
      margin-bottom: 30px;
      text-decoration: none;
    }
    .top {
      margin-bottom: 20px;
      margin-left: 20%;
    }
  }
</style>
