---
const { title } = Astro.props;
---

<div class="container">
  <slot />
  <div class="textbox">
    <h1>{title}</h1>
  </div>
</div>

<style>
  .container {
    position: relative;
    text-align: center;
    margin: 80px 0;
  }

  .textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--box_color);
    padding: 10% 20% 10% 20%;
  }

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: var(--alt_font);
    width: 500px;
    color: white;
  }
</style>
