@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Dance";
  font-style: normal;
  font-weight: normal;
  src: url("/Dance.woff");
  font-display: swap;
}
* {
  margin: 0;
}
html {
  --fw_l: 300;
  --fw_r: 400;
  --fw_m: 500;
  --fw_b: 700;
  --bg_color: #ecf4c2;
  --font_color: #656565;
  --main_font: "Montserrat", sans-serif;
  --alt_font: "Dance";
  --secondary: #5dd6b0;
  --box_color: hsla(161, 73%, 88%, 0.5);
  --transparent: hsla(70, 69%, 86%, 0.81);
  --s_transparent: hsla(44, 48%, 95%, 0.55);
  --fs_xl: 32px;
  --fs_l: 28px;
  --fs_m: 24px;
  --fs_s: 18px;
  --fs_xs: 16px;
  --fs_responsive: clamp(0.6rem, 3.5vw + 1rem, 3.5rem);
}

/* Forside */

.color {
  background: var(--bg_color);
  background-image: url("/Artboard2.svg");
  background-size: cover;
}
img {
  width: 100%;
  height: auto;
}
.link {
  margin: 0;
  width: 100vw;
  height: auto;
}

.row_grid {
  display: grid;
  grid-template-rows: 3;
  gap: 1em;
  margin: 80px 6%;
}

.info_grid div,
.art_grid div {
  padding: 70px 0;
}
.info_grid h2,
.art_grid h2 {
  font-family: var(--alt_font);
  font-size: var(--fs_l);
}
.info_grid p,
.art_grid p {
  font-family: var(--main_font);
  font-size: var(--size_s);
  font-weight: var(--fw_m);
  line-height: 26px;
  padding-top: 20px;
}

.info_grid img,
.art_grid img {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 10px;
}

/* Lineup */

.lineup {
  background: var(--bg_color);
  background-image: url("/Artboard1.svg");
  background-size: cover;
}
main {
  margin: 0 auto;
}
h1 {
  font-family: var(--main_font);
  font-size: var(--fs_xl);
  font-weight: var(--fw_m);
  color: var(--font_color);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.description {
  font-family: var(--main_font);
  font-size: var(--fs_s);
  font-weight: var(--fw_r);
  color: var(--font_color);
  max-width: 65ch;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 27px;
}
hr {
  max-width: 850px;
  margin: 0 auto;
  color: var(--secondary);
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--main_font);
  font-size: var(--fs_xs);
  font-weight: var(--fw_l);
  color: var(--font_color);
  max-width: 400px;
  padding-top: 35px;
  padding-bottom: 55px;
  margin: 0 auto;
}

#art:hover,
#workshop:hover {
  color: var(--secondary);
  cursor: pointer;
}
.music {
  color: var(--secondary);
}

.grid_1-1-1 {
  max-width: 60%;
  margin: 0 auto;
}
.grid_1-1-1 h2 {
  text-align: center;
  font-family: var(--alt_font);
  font-size: var(--fs_m);
  color: var(--font_color);
  margin-top: 10px;
  margin-bottom: -10px;
}
/* About */

.about {
  background: var(--bg_color);
  background-image: url("/Artboard3.svg");
  background-size: cover;
}
.about_container {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.about_container h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--alt_font);
  font-size: 100px;
}

.grid_1-4 p {
  font-family: var(--main_font);
  font-size: var(--fs_xs);
  font-weight: var(--fw_r);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
}
.grid_4-1 p {
  font-family: var(--main_font);
  font-size: var(--fs_xs);
  font-weight: var(--fw_r);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
}
.gallery {
  display: grid;
  background-color: var(--s_transparent);
  margin: 0 8% 80px 8%;
  text-align: center;
  padding: 2.5em;
}
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.gallery img {
  border-radius: 15px;
}
.gallery p {
  font-family: var(--main_font);
  font-size: var(--fs_m);
  font-weight: var(--fw_l);
  margin: 40px 0;
  grid-row: 1;
}
.button {
  padding-top: 20px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .textbox {
    padding: 15% 25% 15% 25%;
  }
  .container h1 {
    top: 35%;
    width: 95%;
    font-size: var(--fs_m);
  }

  .info_grid p,
  .art_grid p {
    max-width: 100%;
  }
}
@media (min-width: 800px) {
  main {
    margin: 0 auto;
  }
  .link {
    width: 100%;
    height: auto;
  }
  .container h1 {
    font-size: var(--fs_responsive);
    width: 85%;
  }
  .info_grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }
  .art_grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }
  .info_grid div {
    padding: 70px 0;
  }
  .art_grid div {
    padding: 70px 0 0 90px;
  }
  .info_grid p,
  .art_grid p {
    max-width: 65ch;
  }
  .info_grid img,
  .art_grid img {
    width: 100%;
    height: auto;
    margin: 0 0;
  }
  .art_grid img {
    order: -1;
  }
  .categories {
    flex-direction: row;
  }
  .grid_1-1-1 {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 90px;
  }
  .grid_1-1-1 img {
    max-width: 100%;
    height: auto;
  }
  .grid_1-1-1 h3 {
    max-width: 100%;
    margin-bottom: 0px;
  }
  .grid_1-4 p {
    margin: 0px 0px 30px 50px;
  }
  .grid_4-1 p {
    margin: 0px 0px 30px 0px;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
  }
  .gallery p {
    grid-row: 2;
  }
  .button {
    padding-top: 0px;
  }
}
